<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perkin.mapper.UserMapper">
    <cache></cache>

    <!--
    namespace:名称空间;指定为接口的全类名
    id：唯一标识
    resultType：返回值类型
    #{id}：从传递过来的参数中取出id值
    public Employee getEmpById(Integer id);
    flushCache =true select 之前清空缓存(包括一级和二级缓存)
    useCache 是否使用二级缓存
     -->
    <select id="getById" resultType="com.perkin.entity.User" flushCache="true" useCache="true">
        SELECT *
        from user
        WHERE id = #{id};
    </select>
    <select id="getByIdAndName" resultType="com.perkin.entity.User" flushCache="true" useCache="true">
        SELECT *
        from user
        WHERE id = ${id}
          and name = #{name};
    </select>
    <update id="updateById">
        update user
        set sex =3
        where id = #{id}
    </update>
</mapper>